*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    color: #333333;
    text-align: left;
}
/* collective styling for nav and footer */
nav, footer{
    background-color: #1E40AF;
    color: white;
    height: 2.5rem;
}
nav{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
nav  a{
    color: white;
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* heading texts styling*/
h1, h3, h4{
    color: #1E40AF;
    margin-top: 0.5rem;
}
/* main container housing all the elementts in the body */
.container{
    width: 100%;
    max-height: fit-content;
}

.text_container{
    background-color: white;
    width: 100%;
    padding: 1.5rem;
}
section{
    margin-top: 1.5rem;
}
li{
    margin-top: 1rem;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        display: flex;
        justify-content: center;
    }
    .text_container{
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .text_container{
        width: 75%;
    }
}